* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body {
  background: #E8DFFF;
  color: #2b1d35;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

.gradient-btn {
  background: linear-gradient(
    135deg,
    #c84cb3,
    #8f6bff
  );

  font-size: 16px;
  color: white;
  border-radius: 999px;
  padding: 12px 20px;
  margin: 15px 0;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

.gradient-btn:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

/* Section Header */
.section-header h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header p {
  color: black;
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: 30px;
}

.section-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2d1b3d;
  margin: 5px 0;
}