/* Menu */
.menu-grid {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}

.menu-card {
  background: white;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-6px);
}

.menu-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.no-image {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.menu-content {
  padding: 20px;
}

.menu-content h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.menu-content p {
  color: gray;
  margin-bottom: 14px;
}

.menu-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 16px;
}

.price {
  color: #8f6bff;
  font-weight: bold;
  font-size: 28px;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  padding: 30px 0px;
}