/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 48px;
  height: 75px;
  background: white;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #ececec;
}

.navbar h1 {
  font-size: 45px;
  font-weight: 700;
  color: #c84cb3;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 48px; 
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-links button {
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.nav-links button:hover {
  opacity: 0.7;
}

.nav-links button.active {
  position: relative;
  color: #8b5cf6;
}

.nav-links button.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 3px;
  border-radius: 999px;
  background: linear-gradient(
    135deg,
    #d946ef,
    #8b5cf6
  );
}

/* Logout Button */
#logoutBtn {
  background: red;
  color: white;
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  font-weight: bold;
  transition: 0.3s;
}

#logoutBtn:hover {
  transform: translateY(-2px);
  opacity: 0.7;
}